/* #################### Default Styles ##################### */

* {
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
  margin: 0;
}

h1 {
  font-family: 'Bitter', serif;
  font-weight: 400;
}

h2 {
  margin-bottom: 10px;
  font-family: 'Bitter', serif;
  font-weight: 400;
}

h3 {
  font-family: 'PT Sans', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
  text-align: justify;
}

footer {
  background: #1e1e1e;
  color: #eee;
  padding: 0 2% 12px;
  font-size: 14px;
}

a {
  color: #000;
  transition: color .3s;
}

a:hover {
  color: #2388F0;
}

input, textarea {
  margin: 10px 0;
  padding: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 34px;
}

textarea {
  resize: none;
  height: inherit;
}

button {
  background: #2388F0;
  color: #fff;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  height: 34px;
  transition: background .3s;
  cursor: pointer;
}

button:hover {
  background: #000;
}

ul {
  font-family: 'PT Sans', sans-serif;
}

.header-img {
  position: relative;
  width: 100%;
  height: 500px;
  text-align: center;
  overflow: hidden;
}

.header-img .overlay {
  color: #fff;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background: #fff;
  padding: 2% 6%;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.news-date {
  text-align: right;
}

.news-summary {
  margin-top: 0;
}

.subscribe-email {
  display: inline-block;
  margin: 0;
  width: 70%;
}

.subscribe-btn {
  display: inline-block;
  background: #d3d3d3;
  color: #000;
  margin: 0;
  font-weight: 400;
  width: 30%;
  min-width: 85px;
}

.subscribe-btn:hover {
  background: #a1a1a1;
}

.subscribe-box {
  padding: 0 16px;
}

.copyright {
  margin-top: 24px;
  margin-bottom: 0;
}

.align-center {
  text-align: center;
}

.align-top {
  align-items: flex-start;
}

.app-desc {
  padding-right: 16px;
}

.app-info {
  color: #68625e;
  padding-left: 16px;
}

.unslider-nav {
  width: 100%;
  position: absolute;
  top: 475px;
  z-index: 98;
}

.unslider-arrow {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #aaa;
  padding: 0 8px;
  position: absolute;
  top: 0;
  font-size: 72px;
  height: 500px;
  line-height: 500px;
}

.gallery-card {
  margin: 8px;
  width: 240px;
  border: 1px solid #8e8e8e;
  text-decoration: none;
}

.app-header {
  display: flex;
  align-items: center;
}

.app-icon {
  width: 64px;
  height: 64px;
}

.app-title {
  flex-grow: 1;
  margin: 0;
  margin-left: 8px;
}

.profile-display {
  width: 100%;
  height: auto;
  padding: 20px;
}

/* ################## Navigation Bar ##################### */

.navbar-container nav {
  display: flex;
  background: rgba(0, 0, 0, 0.85);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 65px;
}

.navbar-container a {
  display: block;
  color: #fff;
  padding: 14px;
  float: left;
  font-family: 'PT Sans', serif;
  text-decoration: none;
  height: 100%;
  line-height: 35px;
}

.navbar-container ul li {
  list-style: none;
  height: 100%;
  font-size: 20px;
}

.logo {
  height: 100%;
}

.logo img {
  width: auto;
  height: 100%;
}

.navbar-list {
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-list .navbar-item {
  float: left;
}

.navbar-item a:hover, .navbar-dropdown a:active {
  background: #2388F0;
  color: #fff;
}

.navbar-item.is-active {
  background: #2388F0;
}

.navbar-list .navbar-dropdown {
  display: none;
  float: right;
}

.mobile-menu {
  display: block;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height .5s ease-in;
}

ul.navbar-list.mobile {
  width: 100%;
}

ul.navbar-list.mobile .navbar-item {
  display: block;
  float: none;
  height: 65px;
}

ul.navbar-list.mobile .navbar-item a {
  width: 100%;
}

.navbar-spacer {
  background: #000;
  width: 100%;
  height: 65px;
}

/* #################### Custom Styles ###################### */

footer a {
  color: #eee;
  text-decoration: none;
}

footer a:hover {
  color: #a1a1a1;
}

footer .community-box a {
  margin: 0 4px;
  font-size: 28px;
}

.header-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay .overlay-btn {
  background-image: linear-gradient(#eee, #eee);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  color: #fff;
  padding: 12px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 7px;
  transition: background-size .3s ease-out, color .3s;
}

.overlay .overlay-btn:hover {
  background-size: 100% 100%;
  color: #000;
  cursor: pointer;
}

.overlay h3 {
  display: inline-block;
  margin: 0 4px 0 0;
  font-weight: 400;
}

.overlay .fa {
  vertical-align: sub;
}

.slide-container ul {
  list-style: none;
}

.unslider-nav {
  list-style: none;
  text-align: center;
}

.unslider-nav ol li {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #aaa;
  margin: 0 4px;
  padding: 2px 8px;
  font-family: 'Bitter', serif;
  border-radius: 7px;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.5s;
}

.unslider-nav ol li:hover {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
}

.unslider-nav ol li.unslider-active {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
}

.unslider-arrow:active {
  padding: 0 12px;
}

.gallery-card:hover {
  color: #000;
}

.gallery-card header {
  margin: 8px 0;
  padding: 0 8px;
}

.gallery-card .content {
  background: #e2e2e2;
  margin: 0;
  padding: 4px 8px 8px;
  width: 100%;
}

.profile-display.align-right {
  padding-right: 0;
}

.profile-display.align-left {
  padding-left: 0;
}

/* #################### Mobile View ###################### */

@media screen and (max-width: 797px) {
  footer .col-6 {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  nav .logo {
    display: inline-block;
    float: none;
  }

  article h1 {
    margin-bottom: 0;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11 {
    width: 100%;
  }

  .header-img .overlay {
    width: 80%;
  }

  .navbar-list .navbar-item {
    display: none;
  }

  .navbar-list .navbar-dropdown {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  div.mobile-menu.is-showed {
    height: 100%;
  }

  .news-date {
    margin-top: 4px;
    text-align: left;
  }

  .unslider-nav ol {
    display: none;
  }

  .unslider-arrow {
    display: block;
  }

  .profile-display.align-right {
    padding: 20px 0;
  }

  .profile-display.align-left {
    padding: 20px 0;
  }

  .app-info {
    padding-left: 0;
  }
}

@media screen and (min-width: 681px) and (max-width: 764px) {
  .header-img .overlay {
    width: 60%;
  }
}

/* ##################### Small Screen ################## */

@media screen and (max-width: 581px) {
  .gallery-card {
    width: 100%;
  }
}

@media screen and (max-width: 477px) {
  .header-img .overlay {
    width: 100%;
  }

  .subscribe-email {
    width: 100%;
    text-align: center;
  }

  .overlay .subscribe-email {
    margin: auto;
    width: 95%;
  }

  .subscribe-btn {
    margin: auto;
    width: 50%;
  }

  .unslider-arrow {
    display: none;
  }
}
